/*---------------------------------------------------------------------------------------------
 *  Copyright (c) Microsoft Corporation. All rights reserved.
 *--------------------------------------------------------------------------------------------*/

body {
    color: var(--vscode-foreground);
}

.welcomePageContainer {
	padding: 10px 20px;
}

.welcomePage {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.welcomePage h1 {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0;
    border: none;
    font-weight: 400;
    font-size: 2.7em;
    white-space: nowrap;
}

.welcomePage h2 {
    font-weight: 300;
}

.welcomePage .subtitle {
    margin-top: 0.2em;
    font-size: 1.5em;
    display: block;
    color: var(--vscode-descriptionForeground)
}

details summary:focus {
    outline: none;
}

details summary:hover {
    cursor: pointer;
}
